@tailwind base;
@tailwind components;
@tailwind utilities;


 canvas#canvas {
    /* position: fixed; */
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    /* background-color: #ef080831; */
  }
  
  .youtube-link {
    position: absolute;
    left: 0;
    top: 0;
    color: #000000;
    text-decoration: none;
    font-size: 12px;
  }
  